.Btn {
  box-shadow: -1px 21px 15px -14px rgba(0,0,0,0.1);
  transition: transform .1s;
  background: #e23337;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 8px 14px;
  color: white;
  border: 0;
}

.Btn:hover {
  background: #b63032;
  cursor: pointer;
}

.Btn:focus {
  outline: 0;
}

.Btn:active {
  transform: scale(0.97);
}

.Btn:not(:first-of-type) {
  margin-left: 5px;
}

.Btn:not(:last-of-type) {
  margin-right: 5px;
}
