.Stat {
  box-shadow: -1px 21px 15px -14px rgba(0,0,0,0.1);
  border: 1px solid gray;
  align-items: center;
  background: white;
  border-radius: 5px;
  margin: 10px auto;
  min-width: 300px;
  color: #2a2a2a;
  display: flex;
}

.Stat.Repo {
  padding: 8px;
}

.Stat:hover {
  cursor: pointer;
}

.Stat-img {
  display: inline-block;
  margin: 10px;
  height: 60px;
  width: 60px;
}

.Stat-text {
  display: inline-block;
  text-align: left;
}

.Stat-text-small {
  font-size: .75rem;
}
